$back_color: #ffffff;
$main_back_color: #f9f2ff;
$font_text: "Noto Sans JP", sans-serif;
$ttl_color: #555151;
$font_color: #8e9aaf;
$font_color_strong: #efa7b1;

.main {
    background-color: $back_color;
    padding: 0;
}

.content {
  padding-top: 65px;
  margin: 0 auto;
  text-align: center;
}

.content__title {
  font-size: 35px;
  font-weight: 300;
  margin: 180px 0 15px;
  color: $ttl_color;
  font-family: $font_text;
}

.content__description {
  font-size: 20px;
  color: $font_color;
  font-family: $font_text;
  font-weight: 300;
  margin: 80px 0;
  line-height: 1.6;
}

.content__img {
  display: flex;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.content__img img {
  width: 100%;
  height: auto;
}