$back_color: #ffffff;
$main_back_color: #f9f2ff;
$font_text: "Noto Sans JP", sans-serif;
$ttl_color: #555151;
$font_color: #8e9aaf;
$font_color_strong: #efa7b1;

.main {
    background-color: $back_color;
}

.content {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.content__table {
    margin: 150px auto;
    max-width: 800px;
    width: 100%;
    border: 1px solid $ttl_color;
}

.content__table tr {
    border-bottom: 1px solid $ttl_color;
}

.content__table th {
    background-color: $font_color_strong;
    font-family: $font_text;
    color: $ttl_color;
    font-weight: 300;
    text-align: center;
    padding: 30px;
    width: 200px;
}

.content__table td {
    font-family: $font_text;
    color: $ttl_color;
    font-weight: 300;
    text-align: center;
    padding: 30px;
}

.content__button {
    margin-top: 20px;
}

.content__button-submit {
    padding: 15px 50px;
    font-weight: 300;
    font-size: 16px;
    font-family: $font_text;
    background-color: $font_color_strong;
    color: $ttl_color;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.content__button-submit:hover {
    background-color: darken($font_color_strong, 10%);
}
