$back_color: #fffdfb;
$main_back_color: #f9f2ff;
$font_ttl: "Playwrite IT Moderna", serif;
$font_text: "Raleway", serif;
$ttl_color: #555151;
$font_color: #8e9aaf;
$font_color_strong: #efa7b1;

.content {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

/* 共通セクションデザイン */
.section {
    max-width: 760px;
    margin: 50px auto;
    font-family: $font_ttl;
    overflow: hidden;
}

.section h1, .section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: $ttl_color;
    text-align: center;
}

/* 画像配置 (交互に左・右に) */
.history__image, .news__image, .location__image {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.history__image img, .news__image img, .location__image img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0 0;
}

.left {
    float: left;
    margin: 0 30px 20px 0;
}

.right {
    float: right;
    margin: 0 0 20px 20px;
}

/* テキストデザイン */
.history__text, .news__text, .location__text {
    font-family: $font_text;
    color: $font_color;
    font-size: 16px;
    letter-spacing: 1.4px;
    line-height: 1.8;
    text-align: justify;
    margin: 60px 0 0;
}

strong {
    color: $font_color_strong;
}

/* レスポンシブ調整 */
@media (max-width: 768px) {
    .left, .right {
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .history__text, .news__text, .location__text {
        text-align: center;
    }
}
