$back_color: #cbc5daf0;
$main_back_color: #f9f2ff;
$font_text: "Noto Sans JP", sans-serif;
$ttl_color: #555151;
$font_color: #8e9aaf;
$font_color_strong: #efa7b1;
$font_text_en: "Raleway", serif;
$font_ttl: "Playwrite IT Moderna", serif;

.main {
    padding: 0;
    background-color: $back_color;
}

.item-detail {
  padding: 50px;
    max-width: 1000px;
    margin: auto;
}

.item-detail-title {
    font-size: 38px;
    font-family: $font_ttl;
    color: $ttl_color;
    margin: 30px 0;
    margin: 90px 0 30px;
    font-weight: 300;
}

.item-detail__card {
  display: flex;
}

.item-detail__img {
  width: 300px;
  height: auto;
}

.item-detail__img img {
  width: 100%;
  height: auto;
}