.verify-email {
    padding: 50px;
    max-width: 1000px;
    margin: 120px auto;
    text-align: center;
}

.verify-email__ttl {
    margin: 50px auto;
    font-size: 35px;
    font-weight: bold;
    color: #555151;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
}

.verify-email__text {
    font-size: 20px;
    font-weight: bold;
    color: #555151;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
}

.verify-email__button {
    margin-top: 50px;
}

.verify-email__button-submit {
    padding: 12px 50px;
    font-weight: 300;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #efa7b1;
    color: #555151;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.verify-email__button-submit:hover {
    background-color: #e77c8b;
}

/* タブレット対応 (幅768px以下) */
@media screen and (max-width: 768px) {
    .verify-email__ttl {
      font-size: 28px;
    }
  
    .verify-email__text {
      font-size: 18px;
    }
  
    .verify-email__button-submit {
      padding: 10px 40px;
      font-size: 14px;
    }
  }
  
  /* スマートフォン対応 (幅480px以下) */
  @media screen and (max-width: 480px) {
    .verify-email__ttl {
      font-size: 24px;
    }
  
    .verify-email__text {
      font-size: 16px;
    }
  
    .verify-email__button-submit {
      padding: 8px 30px;
      font-size: 12px;
    }
  }
  